# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Data
data/
!data/.keep
data/fineweb/
data/fineweb_prod/
data/fineweb_large/
*.parquet

# IDE
.vscode/
.idea/

# Checkpoints (Ignore trained weights)
*.pt
*.pth
checkpoints/
